node_modules
# Keep environment variables out of version control
.env
/src/generated/prisma
dist/*
dist
pnpm-lock.yaml
package-lock.json
.DS_Store

.DS_Store/*

pnpm-lock.yaml
tsconfig.build.json

package-lock.json